@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

body {
  background-color: darkslategrey;
}

.sliderImages {
  width: 200px;
  height: 310px;
  padding: 30px;
  border-radius: 50px;

  cursor: pointer;
  transition: 0.5s;
}

.sliderImages:hover {
  transition: 0.5s;
  opacity: 0.9;
  -webkit-filter: grayscale(40%);
  -moz-filter: grayscale(40%);
  -o-filter: grayscale(40%);
  -ms-filter: grayscale(40%);
  filter: grayscale(40%);
}

.container {
  position: relative;
  top: 200px;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* height: 100vh; */
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}

.sliderNext--container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  border-radius: 50%;
  border-width: 0 1.3px 1.3px 0;
  width: 30px;
  height: 30px;
  background-color: #4caf50;
}

.sliderNext--container:hover {
  position: relative;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}

.sliderNext {
  display: inline-block;
  margin: auto;
  font-size: 12px;
  border: none;
  background: unset;
}

.imageContainer {
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .imageContiner {
  }

  .image_position {
  }

  .sliderImages {
    animation-name: imgMobileSizeShrink;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-size: cover;
    opacity: 80%;

    width: 240px;
    height: 400px;
  }
}

.slick-dots li button::before {
  background: grey;
  border-radius: 10px;
  transform: scale(0.4);
}

.container {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.test {
  height: 2000px;
}

.textContainer {
  position: absolute;
  margin-left: 65px;
  bottom: 20%;
  color: white;

  transition: 0.5s;
  opacity: 0;
}

.videoName {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.videoGenre {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}

.videoDesc {
  font-size: 16px;
  font-weight: 300;
  width: 50%;
}

.image_position:hover .textContainer {
  opacity: 1;
  transform: translate(0, -20px);
  transition: 0.9s;
}

.slick-next:before {
  position: relative;
  content: "→";
  background: black;
  border-radius: 1000px;

  display: none;
}

.slick-prev:before {
  position: relative;
  content: "←";
  background: black;
  border-radius: 1000px;

  display: none;
}

@keyframes imgMobileSizeShrink {
  0% {
    height: 300px;
  }
  100% {
    height: 200px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0.8;
  }
  26% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hoverUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
